@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#imagem-título {
    width: 100%;
    height: 200px;
}

#título {
    position: absolute;
    text-align: justify;
    margin-top: -180px;
    margin-left: 32%;
    font-size: 60px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    gap: 70px;
    background-color: green;
    color: aliceblue;
    margin: auto;
    height: 20px;
    font-size: 14px;
    border-radius: 0px 0px 20px 20px;
    margin-top: -4px;
    font-family: 'Montserrat', sans-serif;
}

#SB {
    color: rgb(20, 34, 0);
}

.link2 {
    color: aliceblue;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 40px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

#imagem1 {
    width: 600px;
    height: 400px;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}

#informações2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

#imagem3 {
    width: 590px;
    height: 400px;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}

#história2 {
    display: inline-block;
    vertical-align: top;
    width: 38%;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 40px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

#link1, #link2, #link3, #link4, #link5{
    color: aliceblue;
}

#caractersticas {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}




button[name="drop"]{
    border: none;
    cursor: pointer;
    background-color: green;
    padding: 10px;
    font-size: 15px;
    color: white;
  }
  .menu-drop{
    display: inline-block;
    position: relative;
  }
  .drop-content{
    display: none;
    background-color: rgb(0, 77, 0);
    position: absolute;
    z-index: 1;
  }
  .drop-content a{
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
  }
  .drop-content a:hover{
    background-color: green;
  }
  .menu-drop:hover .drop-content{
    display: block;
  }
  .menu-drop:hover button[name="drop"]{
    background-color: rgb(0, 77, 0)
  }
  
  .cabeçalho p {
    display: inline-block;
    border: green;
    height: 25px;
    width: 100px;
    text-align: center;
  }

  .cabeçalho p:hover{
    border: rgb(0, 77, 0);
    background-color: rgb(0, 77, 0);
}

#informações2 {
  display: flex;
  margin-top: 30px;
}

#imagem2 {
  width: 600px;
  text-align: left;
  margin-left: 30px;
}

#texto2 {
  width: 800px;
  text-align: justify;
  margin-left: 70px;
  margin-top: 80px;
}

#texto1h {
  text-align: justify;
}
#imagem1h {
  width: 700px;
  margin-left: 130px;
}

#imagem2h {
  width: 400px;
  margin-left: 150px;
}

#história2 {
  margin-left: 150px;
}

#localização {
  margin-left: 20px;
}

#localização3 {
  display: flex;
  margin-top: 30px;
  width: 1000px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: justify;
}

#Mapa {
  width: 800px;
  text-align: right;
  margin-right: -500px;
  margin-left: 100px;
}

#L3 {
  width: 800px;
  text-align: justify;
  margin-left: 30px;
  margin-top: 80px;
}

#localização {
  margin-left: 50px;
}

#educação1 {
  margin-left: 30px;
}
#educação2 {
  display: flex;
  margin-left: 30px;
}

#educação2-1 {
  width: 600px;
  margin-left: 60px;
}
#TE2 {
  text-align: justify;
}

#imagens-educação {
  margin-left: 30px;
}

#imagens-educação1 {
  display: flex;
  gap: 60px;
  margin-left: 120px;
}

#imagens-educação2 {
  display: flex;
  gap: 60px;
  margin-left: 120px;
}

#CTN {
  display: flex;
  margin-top: 30px;
}

#CTN-texto {
  width: 600px;
  text-align: justify;
  margin-left: 80px;
  margin-top: 70px;
}

#texto-lazer {
  margin-left: 30px;
}

#img-ctn {
  margin-left: 50px;
  width: 600px;
}

#mocidade {
  display: flex;
  margin-top: 20px;
}

#mocidade-texto {
  text-align: justify;
  width: 600px;
  margin-top: 70px;
  margin-left: 70px;
}

#img-mocidade {
  width: 600px;
  text-align: right;
  margin-left: 200px;
}

#texto-lazer3 {
  margin-top: 40px;
}

#texto-lazer4 {
  margin-top: 50px;
  margin-left: 300px;
  text-align: center;
  display: flex;
}

#texto-lazer4 p {
  margin-top: 80px;
  width: 600px;
}